# Exclude development files from export-archive (Source Code zip)
.gitignore export-ignore
.gitattributes export-ignore
workflow export-ignore
docs export-ignore
.github export-ignore
*.md export-ignore
LICENSE export-ignore
